:root{
    --cor_botao_clicado:red;
    --cor_botao_n_clic:yellow;
    --cor_fundo:rgb(38, 47, 85);
    --cor_titulo:green;
    
}
body{
    background-color: var(--cor_fundo);
}
 
h1{
    color:var(--cor_titulo)
 
}
.principal{
    border: yellowgreen 2px solid;
    text-align: center;
    height: 500px;
 
}
h3{
    font-size: 30px;/* mudar o tamanho das letras */
    background-color: rgb(135, 230, 126);
    border-radius: 150px;
    justify-content: center;/* arrumar a posicao da imagem */
    align-items: center;/* arrumar a posicao da imagem */
    display: flex;/* arrumar a posicao da imagem */
    flex-wrap: wrap;/* arrumar a posicao da imagem */  
}


  


