:root{
    --cor_botao_clicado:red;
    --cor_botao_n_clic:yellow;
    --cor_fundo:rgb(38, 47, 85);
    --cor_titulo:green;
    
}
body{
    background-color: var(--cor_fundo);
}
 
h2{
    color:var(--cor_titulo)
 
}
.principal{
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.botao{
    background-color: var(--cor_botao_n_clic);
    display: flex;
    justify-content: center;
    padding: 1mm;
    font-size:18px ;
    align-items: center;
    width: 100px;
    border-bottom: 4px solid var(--cor_botao_fundo);
    border-left: 4px solid var(--cor_botao_fundo);
    border-right: 4px solid var(--cor_botao_fundo);
    border-top: none;
    
}
.acionado{
    


}
